@import-normalize; /* bring in normalize.css styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0 0;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c0c0c0ba;
  background-image: url(/src/components/image/pexels-alex-andrews-821754.jpeg);
  background-repeat:no-repeat ;
  background-position: center top;
    background-size: 70%;
   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
